[Unit]
Description=Flower Celery Monitoring for Superset
After=network.target

[Service]
Type=simple
User=imercados
Group=www-data
WorkingDirectory=/home/imercados/superset_proyecto/superset_v6
Environment="PATH=/home/imercados/superset_proyecto/superset_v6/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="SUPERSET_CONFIG_PATH=/home/imercados/.superset/superset_config.py"
Environment="PYTHONPATH=/home/imercados/.superset:/home/imercados/superset_proyecto/superset_v6:/home/imercados/superset_proyecto/superset_v6/superset"

ExecStartPre=/usr/bin/test -x /home/imercados/superset_proyecto/superset_v6/.venv/bin/python
ExecStartPre=/home/imercados/superset_proyecto/superset_v6/.venv/bin/python -c "import celery, flower"

# Usa el mismo broker que Celery (/8). Expone en 0.0.0.0:5555
ExecStart=/home/imercados/superset_proyecto/superset_v6/.venv/bin/celery \
  --broker=redis://127.0.0.1:6379/8 \
  --app=superset.tasks.celery_app:app \
  flower \
  --address=0.0.0.0 \
  --port=5555 \
  --basic-auth="admin:Imer23++"

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
