/* Estilos generales para el chat flotante */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #003399; /* Azul del logo */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.chat-button img {
    width: 40px;
    height: 40px;
}

.chat-window {
    background-color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 82vh;
    /*width: 400px;*/
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
    flex-direction: column;
    z-index: 10000;
}

.chat-header {
    background-color: #003399; /* Azul del logo */
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-header .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.chat-header h3 {
    margin: 0;
    color: white;
}

.close-chat {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.chat-body {
    padding: 10px;
    height: 100%;
    margin-bottom: 20px;
}

/* Ajustes del iframe dentro del chat */
#chatIframe {
    width: 90%; /* Mantiene el 90% del ancho */
    height: 100%; /* Ajusta el alto para dejar espacio para la caja de texto */
    border: none;
    margin: auto;
    display: block;
    margin-bottom: 0px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    border-radius: 8px;
}


@media (max-width: 768px) {
    .chat-iframe {
        width: 90vw;
    }
    .chat-window {
        width: 90vw;
    }
}

@media (min-width: 769px) {
    .chat-iframe {
        width: 700px;
    }
    .chat-window {
        width: 700px;
    }
}


.tab {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    flex: 1;
    color: #003399; /* Azul del logo */
}

.tab button:hover {
    background-color: #A0C539; /* Verde del borde */
    color: white;
}

.tab button.active {
    background-color: #003399; /* Azul del logo */
    color: white;
}

.tabcontent {
    display: none;
    padding: 10px;
    height: calc(80vh - 80px);
    overflow-y: auto;
}

/* Mostrar la ventana de chat cuando está activa */
.show {
    display: flex !important;
}





/* Estilos personalizados para la lista de marcadores */
.saved-states-container-custom {
    padding: 20px;
}

.saved-state-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #F0F0F5; /* Color suave de fondo para las tarjetas */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.saved-state-custom h4 {
    font-size: 1.2em;
    color: #003399; /* Azul acorde con la paleta de colores */
    margin-bottom: 10px;
}

.saved-state-link-custom {
    font-size: 1em;
    color: #003399; /* Azul del esquema */
    text-decoration: none;
    transition: color 0.3s;
}

.saved-state-link-custom:hover {
    color: #A0C539; /* Verde del esquema para hover */
}

.delete-button-custom {
    background-color: #A0C539; /* Verde del esquema */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button-custom:hover {
    background-color: #003399; /* Azul para hover en el botón de borrar */
}

.delete-button-custom i {
    margin-right: 5px;
}

.dashboard-title-custom {
    font-size: 1.1em;
    font-weight: bold;
    color: #003399;
    margin-bottom: 5px;
}


/* Contenedor del botón para guardar marcadores */
.guardar-marcador-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos para el botón de guardar marcador */
.guardar-marcador-button {
    background-color: #003399; /* Azul del esquema de colores */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.guardar-marcador-button:hover {
    background-color: #A0C539; /* Verde del esquema para hover */
}
