.chat-container {
    background-color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 90vh;
    /*width: 400px;*/
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
    flex-direction: column;
    z-index: 10000;
}

.chat-header {
    background-color: #6c63ff;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.chat-header h2 {
    margin: 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.chat-header img {
    height: 40px;
    margin-right: 10px;
}

.chat-header .close-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.chat-header .close-button i {
    font-size: 1.5em;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    background-image: url('https://graficosbot.blob.core.windows.net/imagenesgenericas/Logo_ElDon (002).png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-button i {
    display: none;
}

@media (max-width: 768px) {
    .chat-iframe {
        width: 90vw;
    }
    .chat-container {
        width: 90vw;
    }
}

@media (min-width: 769px) {
    .chat-iframe {
        width: 700px;
    }
    .chat-container {
        width: 700px;
    }
}

.chat-iframe {
    flex-grow: 1;
    border: none;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.message-bubble {
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none;
    padding-right: 35px;
}

.message-bubble .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para las pestañas */
.tabs {
    display: flex;
    background-color: #6c63ff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #6c63ff;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #5a54d4;
}

.tab-content {
    display: none;
    padding: 20px;
    height: calc(100% - 50px); /* Asegura que ocupe el espacio restante */
    overflow-y: auto; /* Permitir scroll si el contenido es largo */
}

.tab-content.active {
    display: flex;
    flex-direction: column;
}

#chatContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chatIframe {
    flex-grow: 1;
    border: none;
}

/* PESTAÑA MARCADORES ----------------------------------------------------------- */ 
#scriptContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    height: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #8084b1;
}

#savedStatesContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra las tarjetas horizontalmente */
    width: 100%;
    padding: 20px 0;
    
}


/* .saved-state {
    display: flex;
    width: 90%; 
    max-width: 600px; 
    margin-bottom: 15px;
} */

/* .saved-state:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

/* .saved-state a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.2s;
} */
.saved-state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    background-color: #ffffff;
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #94989c;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
    width: 90%;
    margin-bottom: 15px;
}

.saved-state:hover {
    background-color: #f0f0f0;
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #0056b3; /* Cambia el color del texto al hacer hover */
}

.saved-state a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
    /* border-radius: 12px; */
    /* background-color: #ffffff; */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #82878b;
    font-weight: bold;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s; */
    width: 100%;
}

.saved-state a:hover {
    
    color: #0056b3; /* Cambia el color del texto al hacer hover */
}

.saved-state button {
    display: flex;
    background-color: #ff4c4c;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.saved-state button:hover {
    background-color: #ff3333;
    transform: scale(1.05);
}